@import "./new.css";

body {
  background-color: #283335;
}

a#back {
  display: none !important;
}

div.gameboy > a {
  font-size: 1.5rem;
  color: white;
  width: max-content;
  display: block;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

iframe {
  margin: 3rem auto 0 auto;
  padding: 0;
  width: 80dvw;
  height: 80dvh;
  display: block;
  border: none;
}
